.starship-image {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &.error {
    background-size: contain;
  }
}
p {
  padding: 0 0.5rem;
}
