@import './variables.scss';
@import './material.scss';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Basis Grotesque Pro';
}

a {
  text-decoration: none !important;
  color: $dark-text !important;
}

.w--100 {
  width: 100%;
}

.border-radius--0 {
  border-radius: 0 !important;
}

.text-align--center {
  text-align: center;
}

.color--primary {
  color: $primary-color;
}

.cursor--pointer {
  cursor: pointer;
}

.font-family--bold {
  font-family: 'Basis Grotesque Pro Bold' !important;
}

.font-family--light {
  font-family: 'Basis Grotesque Pro Light' !important;
}
