$dark-color: #000000;
$light-color: #ffffff;

$primary-color: $dark-color;
$primary-lighter-color: #b3b3b3;
$primary-200-color: #050404;

$accent-color: $light-color;

$warn-color: #fa3b2c;
$warn-lighter-color: #fec4c0;
$warn-darker-color: #f8261b;
