<mat-toolbar color="accent">
  <div class="navbar__start">
    <a class="logo-mobile icon" routerLink="/">
      <img src="assets/images/logo-mobile.svg" alt="Logo Massimo Dutti"
    /></a>

    <ng-container *ngFor="let route of routes">
      <a
        *ngIf="route.isVisible"
        class="links-desktop font-family--bold"
        [routerLink]="route.link"
        routerLinkActive="active"
        >{{ route.text }}</a
      >
    </ng-container>
  </div>

  <div class="navbar__center">
    <a routerLink="/">
      <img src="assets/images/logo.png" alt="Logo Massimo Dutti"
    /></a>
  </div>

  <div class="navbar__end">
    <a class="icon cursor--pointer logout__mobile" (click)="logoutEmit()">
      <mat-icon fontSet="material-icons-outlined">exit_to_app</mat-icon>
    </a>

    <a
      class="icon menu-icon cursor--pointer"
      (click)="toggleSideNavEmit()"
      *ngIf="!sideNavIsOpen"
    >
      <div class="menu-bar menu-bar__top"></div>
      <div class="menu-bar menu-bar__middle"></div>
      <div class="menu-bar menu-bar__bottom"></div>
    </a>

    <a
      class="icon cursor--pointer"
      (click)="toggleSideNavEmit()"
      *ngIf="sideNavIsOpen"
    >
      <mat-icon fontSet="material-icons-outlined">close</mat-icon>
    </a>

    <a class="cursor--pointer logout__desktop" (click)="logoutEmit()"
      >Cerrar Sesión</a
    >
  </div>
</mat-toolbar>
