<header>
  <mat-toolbar color="accent">
    <div>
      <a routerLink="/">
        <img src="assets/images/logo-mobile.svg" alt="Logo Massimo Dutti"
      /></a>
    </div>

    <div class="options cursor--pointer">
      <a (click)="logoutEmit()">
        <mat-icon fontSet="material-icons-outlined">exit_to_app</mat-icon>
      </a>

      <a class="menu-icon cursor--pointer">
        <div class="menu-bar menu-bar__top"></div>
        <div class="menu-bar menu-bar__middle"></div>
        <div class="menu-bar menu-bar__bottom"></div>
      </a>
    </div>
  </mat-toolbar>
</header>
