<form [formGroup]="registerForm" (keydown.enter)="$event.preventDefault()">
  <mat-radio-group formControlName="role">
    <mat-radio-button [value]="RoleEnum.CLIENT">Cliente</mat-radio-button>
    <mat-radio-button [value]="RoleEnum.ADMIN">Administrador</mat-radio-button>
  </mat-radio-group>

  <div class="separator">
    <mat-form-field class="w--100" appearance="outline">
      <mat-label>Nombre</mat-label>
      <input type="text" matInput formControlName="name" />
      <mat-error *ngIf="registerForm.get('name').hasError('required')"
        >Debe rellear este campo</mat-error
      >
    </mat-form-field>
  </div>

  <div class="separator">
    <mat-form-field class="w--100" appearance="outline">
      <mat-label>Apellidos</mat-label>
      <input type="text" matInput formControlName="lastname" />
      <mat-error *ngIf="registerForm.get('lastname').hasError('required')"
        >Debe rellear este campo</mat-error
      >
    </mat-form-field>
  </div>

  <div class="separator">
    <mat-form-field class="w--100" appearance="outline">
      <mat-label>Email</mat-label>
      <input type="text" matInput formControlName="email" />
      <mat-error *ngIf="registerForm.get('email').hasError('required')"
        >Debe rellear este campo</mat-error
      >
      <mat-error *ngIf="registerForm.get('email').hasError('customEmail')"
        >Por favor introduzca un email valido</mat-error
      >
    </mat-form-field>
  </div>

  <div class="separator">
    <mat-form-field class="w--100" appearance="outline">
      <mat-label>Contraseña</mat-label>
      <input
        [type]="passwordIsVisible ? 'text' : 'password'"
        matInput
        formControlName="password"
        (keydown.enter)="submit()"
      />
      <button
        mat-button
        matSuffix
        mat-icon-button
        (click)="togglePasswordIsVisible()"
      >
        <mat-icon fontSet="material-icons-outlined">{{
          passwordIsVisible ? 'visibility_off' : 'visibility'
        }}</mat-icon>
      </button>
      <mat-error *ngIf="registerForm.get('password').hasError('required')"
        >Debe rellear este campo</mat-error
      >
      <mat-error *ngIf="registerForm.get('password').hasError('strongPassword')"
        >Por favor introduzca una contraseña segura, deberá tener al menos 8
        caracteres, 1 letra minúscula, 1 mayúscula, 1 número y 1 carácter
        especial !@-_#$%^&*</mat-error
      >
    </mat-form-field>
  </div>

  <div class="separator--xl">
    <button
      mat-flat-button
      color="primary"
      [disabled]="registerForm.invalid"
      (click)="submit()"
      class="w--100 border-radius--0"
    >
      Crear cuenta
    </button>
  </div>
</form>
