section {
  a {
    display: inline-flex;
    margin: 0.6rem 1.5rem;
  }

  p {
    text-align: center;
  }
}

// Tablets
@media (min-width: 768px) {
  section {
    article {
      display: flex;

      div {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 0 1.5rem;
      }
    }
  }
}

// Desktop
@media (min-width: 1024px) {
  section {
  }
}
